<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yf.modules.exam.repo.mapper.RepoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yf.modules.exam.repo.dto.RepoDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="cat_id" property="catId"/>
        <result column="depart_id" property="departId"/>
        <result column="position_id" property="positionId"/>
        <result column="scene_type" property="sceneType"/>
        <result column="target_grade_id" property="targetGradeId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>

    <resultMap id="ListResultMap"
               type="com.yf.modules.exam.repo.dto.response.RepoListRespDTO"
               extends="BaseResultMap">
        <result column="quCount" property="quCount"/>
    </resultMap>

    <select id="paging" resultMap="ListResultMap">
        SELECT repo.*,(SELECT COUNT(*) FROM el_repo_qu WHERE repo_id=repo.id) AS quCount FROM el_repo repo
        <where>
            <if test="query!=null">
                <if test="query.title!=null">
                    AND repo.title LIKE CONCAT('%', #{query.title}, '%')
                </if>
                <if test="query.positionId!=null and query.positionId!=''">
                    AND repo.position_id = #{query.positionId}
                </if>
                <if test="query.departId!=null and query.departId!=''">
                    AND repo.depart_id = #{query.departId}
                </if>
                <if test="query.sceneType!=null and query.sceneType!=''">
                    AND repo.scene_type = #{query.sceneType}
                </if>
                <if test="query.targetGradeId!=null and query.targetGradeId!=''">
                    AND repo.target_grade_id = #{query.targetGradeId}
                </if>
                <if test="(query.targetGradeId==null or query.targetGradeId=='') and query.sceneType!=null and query.sceneType!='PROMOTION'">
                    AND repo.target_grade_id IS NULL
                </if>
                <if test="query.status!=null">
                    AND repo.status = #{query.status}
                </if>
            </if>
        </where>
    </select>

    <select id="listStat" resultType="com.yf.modules.exam.repo.dto.response.RepoStatRespDTO">
        SELECT dv.dic_value                                                                           AS quType,
               (SELECT COUNT(0) FROM el_repo_qu WHERE repo_id = #{repoId} AND qu_type = dv.dic_value) AS quCount
        FROM el_sys_dic_value dv
        WHERE dv.dic_code = 'qu_type'
    </select>

</mapper>
